/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-product-slider {
  background-color: white;
  color: #fff;
  //padding: 2px;

  ul {
     display: flex;
     flex-direction: row;
     padding: 0;

    li {
      display: inline-block;
      list-style: none;
      width: calc(100% / 2);
      height: auto;

      img {
        width: auto;
      }
    }
  }
}

//エディタ側
.editor-styles-wrapper .p-product-slider ul {
  padding: 0;
}
